

#animal-name {
    font-size: 3rem;
    display: block;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
}

body{
    background-color: blanchedalmond;
}

img {
    border-radius: 15px;
}
#cat-image:hover {
        transform: scale(1.25);
    }

#cat-image {
    width: 13%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}

#horse-image:hover {
        transform: scale(1.25);
    }

#horse-image {
    margin-left: 33%; 
    display: flex;
    justify-content: center;
    width: 13%;
}
#dog-image:hover {
    transform: scale(1.25);
    
}
#dog-image {
margin-left: 66%;
justify-content:right;
display: flex;
width: 13%;
}


.hidden-text {
    visibility: hidden;
}

/* Dropdown Button */
.dropbtn {
    background-color: #07412b;
    color: white;
    padding: 25px;
    font-size: 16px;
    border: none;
    margin-left: 45%;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: block;
    float: center;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f169;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: inline-block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .animal {
      padding: 0;
  }